<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>
<body class="login-page">

    <div class="login-card">
    
        <img src="{{ url_for('static', filename='tableflowlogo.png') }}" class="logo">
    

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-stack" style="margin-bottom: 1rem;">
            {% for category, message in messages %}
            <div class="flash flash-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        
        
        <form method="POST" action="{{ url_for('login') }}">
            <div class="AdminDashboard-Group">
                <label for="username">Username</label>
                <input 
                    type="text" 
                    id="AdminUsername" 
                    name="AdminUsername" 
                    placeholder="Enter Your Username"
                    required
                    
                >
            </div>
            
            <div class="AdminDashboard-Group">
                <label for="Password">Password</label>
                <input 
                    type="Adminpassword" 
                    id="Adminpassword" 
                    name="Adminpassword" 
                    placeholder="Enter Your Password"
                    required
                >
            </div>

            <div class="rememberme-container">
                <input type="checkbox" id="rememberme" name="remember_me">
                <label for="rememberme">Remember me</label>
            </div>

            <button type="submit" class="login-btn">Sign in</button>

           
        </form>
        
    
    </div>

    <div class="form-footer">
        <p>Don't have an account?</p>
        <a href="{{ url_for('register') }}">
        <button type="Create Account">Create Account</button>
        </a>
    </div>
    
</body>

</html>
