<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <h1>Dashboard Login</h1>
            <p>Enter Your Admin Dashboard Account Details</p>
        </div>
        
        
        <form method="POST" action="{{ url_for('loginpage') }}">
            <div class="AdminDashboard-Group">
                <label for="username">Username</label>
                <input 
                    type="text" 
                    id="AdminUsername" 
                    name="AdminUsername" 
                    placeholder="Enter Your Username"
                    required
                    
                >
            </div>
            
            <div class="AdminDashboard-Group">
                <label for="Password">Password</label>
                <input 
                    type="Adminpassword" 
                    id="Adminpassword" 
                    name="Adminpassword" 
                    placeholder="Enter Your Password"
                    required
                >
            </div>
            
            <button type="submit">Login</button>
        </form>
        
    
    </div>

  

</body>

</html>
